.mensagem {
    display: none;
}

#erro {
    color: red;
}

#certo {
    color: rgb(8, 208, 8);
}


.riscado {
    text-decoration: line-through;
}

#butColor {
    font-size: 30px;
    padding: 30px;
}